@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root{
  --success-color: #2ecc71;
  --error-color: #e74c3c;
}

*{
  box-sizing: border-box;
}

body{
  background: #f9fafb;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container{
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  width: 400px;
}

h2{
  font-weight: 600;
  font-size: 28px;
  margin-top: 0;
  text-align: center;
}

form{
  padding: 30px 40px;
}

.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label{
  color: #777777;
  display: block;
  margin-bottom: 5px;
}

.form-control input{
  border: solid 2px #f0f0f0;
  border-radius: 5px;
  display: block; 
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus{
  border-color: #777777;
  outline: 0;
}

.form-control error input{
  border-color: var(--error-color);
}

.form-control.success input{
  border-color: var(--success-color);
}

.form-control small{
  bottom: 0;
  color: var(--error-color);
  left: 0;
  position: absolute;
  visibility: hidden;
}

.form-control.error small{
  visibility: visible;
}

.form button{
    background: rgba(52,152,219,1);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 25px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.form button:hover{
    background: rgba(52,152,219,0.8);
}
.form-control:nth-last-of-type(1){
  display: flex;
}
